<footer class="footer">
      <div class="container">
        <p class="text-muted">
          © 2017 .ERB Portfolio 
          <%= link_to "Back to Top", '/', :class => 'btn-link pull-right' %>
        </p>
      </div>
</footer>