<section id="rightbar" class="hidden">
    <div class="item">
      <li id="aboutSidebar"><%= link_to "", '#aboutme-content', title: "About Me",  :class => 'scroll-button fa fa-2x fa-info-circle'  %></li>
    </div>
    
    <div class="item">
      <li id="devSidebar"><%= link_to "", '#dev-content', title: "Development Work", :class => 'scroll-button3 fa fa-2x fa-keyboard-o' %></li>
    </div> 
    
    <div class="item">
       <li id="designSidebar"><%= link_to "", '#design-content', title: "Design Work", :class => 'scroll-button2 fa fa-2x fa-universal-access' %></li>
    </div>  
</section>
