<nav id="sidebar" class="hidden">
    <ul class="nav">
      <li id="aboutSidebar"><%= link_to "", '#aboutme-content', title: "About Me",  :class => 'fa fa-2x fa-info-circle'  %></li>
      <li id="devSidebar"><%= link_to "", '#dev-content', title: "Development Work", :class => 'fa fa-2x fa-keyboard-o' %></li>
      <li id="designSidebar"><%= link_to "", '#design-content', title: "Design Work", :class => 'fa fa-2x fa-universal-access' %></li>
</nav>
