<h1>Home</h1>

<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" >
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src="http://www.kameldasdesigns.com/wp-content/uploads/2015/03/banner-graphic-design2-small.png" style="width:auto;height:100%;margin:auto;">
            <div class="carousel-caption">
                <h3>Web Designer</h3>
            </div>
        </div>
        
        <div class="item">
            <img src="http://jerryswiatek.com/wp-content/uploads/2016/03/code_banner.png" style="width:auto;height:100%;margin:auto;">
            <div class="carousel-caption">
                <h3>Web Developer</h3>
            </div>
        </div>
        
        <div class="item">
             <img src=https://tidyupsd.com/wp-content/uploads/tech-banner.jpg style="width:auto;height:100%;margin:auto;">
            <div class="carousel-caption">
                <h3>Tech Enthusiast</h3>
            </div>
        </div>
    </div>
    
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
</div>

<div id="aboutMeText" class="container">
    <p>My name is Evan Bogart, I’m a senior at DePaul University, majoring in Interactive and Social Media with a Concentration in Development. I’m a fun loving coder who truly enjoys design and the development of websites and applications. I have a passion for front-end development, but don’t mind working with back-end languages as well. I excel in using the bootstrap framework, and am proficient in HTML, CSS, JavaScript, jQuery and SQL. I am a computer junkie, a believer in blockchain technology, and I think we can change the world for the better with well written code!</p> 
</div>

