<div class="container" id="pageheader">
    <h1 class="heading">About Me</h1>
</div>

<div id="aboutMe" class="container">
    <div class="col-lg-push-3 col-lg-6 col-md-6 col-md-push-1 col-sm-6 col-xs-12"> <%= image_tag("headshot1.jpg", class: "img-responsive", :id => "headshot" )%></div>
    <p id="aboutMeText" class="col-lg-pull-2 col-md-push-2">My name is Evan Bogart, I’m a senior at DePaul University, majoring in Interactive and Social Media with a Concentration in Development. I’m a fun loving coder who truly enjoys design and the web development. I hope to pursue a career front-end development, and don’t mind working with back-end languages as well. I excel in using the bootstrap framework, and am proficient in HTML, CSS, JavaScript, and jQuery. I am a computer junkie, a hard worker, a believer in blockchain technology, and I think we can change the world for the better with well written code!
</div>

   <div class="container"  id="homepageCards">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title">
                                    Contact Me
                                </h4>
                                <p class="contactText">
                                    If you have any questions, please feel free to email or call me! <br><br> <b>Phone #:</b> (630)803-7686 <br> <b>Email:</b> erbogart28@gmail.com
                                </p>
                                <p><i>Check out my linkedin</i><a type="button" class="btn btn-block btn-lg btn-linkedin" target="blank_"><i class="fa fa-linkedin"></i></a></p>
                                <p><i>Check out my github</i><a href="https://github.com/erbogart28" type="button" class="btn btn-block btn-lg btn-github" target="blank_"><i class="fa fa-github"></i></a></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-push-4 col-md-push-4 col-sm-push-4 col-xs-12 col-sm-4">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title">
                                    View My Resume
                                </h4>
                                <p class="resumeText">
                                   My resume can be viewed here. Please feel free to right click the link and save a copy for yourself if you're interested.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <%= link_to " View Resume", image_path("resume.jpg"), :target => "_blank", :class => "btn btn-link btn-block" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </div>
 </section>
 
