<div id="pageHeader" class="container">
    <h1>Home</h1>
</div>

<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src="http://www.qweserinfolabs.com/wp-content/uploads/2015/11/front-block-high.png" class="imag-responsive" style="height:100%">
            <div class="carousel-caption">
                <h3>Web Designer</h3>
            </div>
        </div>
        
        <div class="item">
            <img src="https://cisforcoder.files.wordpress.com/2011/07/banner1.png" class="imag-responsive" style="height:100%">
            <div class="carousel-caption">
                <h3>Web Developer</h3>
            </div>
        </div>
        
        <div class="item">
             <img src="http://ccfhe.org/wp-content/uploads/2015/08/technology.png" class="imag-responsive" style="width:100%;height:100%">
            <div class="carousel-caption">
                <h3>Tech Enthusiast</h3>
            </div>
        </div>
    </div>
    
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
</div>

<div id="aboutMe" class="container">
    <h2>About Me</h2>
    <div class="col-lg-push-2 col-lg-6 col-md-6 col-md-push-1 col-sm-6 col-xs-12"> <%= image_tag("headshot1.jpg", class: "img-responsive")%></div>
    <p id="aboutMeText" class="col-lg-pull-1 col-md-push-2"><br>My name is Evan Bogart, I’m a senior at DePaul University, majoring in Interactive and Social Media with a Concentration in Development. I’m a fun loving coder who truly enjoys design and the web development. I hope to pursue a career front-end development, and don’t mind working with back-end languages as well. I excel in using the bootstrap framework, and am proficient in HTML, CSS, JavaScript, and jQuery. I am a computer junkie, a hard worker, a believer in blockchain technology, and I think we can change the world for the better with well written code!
</div>

   <div class="container"  id="homepageCards">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title">
                                    Contact Me
                                </h4>
                                <p class="contactText">
                                    If you have any questions, please feel free to email or call me! <br><br> <b>Phone #:</b> (630)803-7686 <br> <b>Email:</b> erbogart28@gmail.com
                                </p>
                                <p><i>Check out my linkedin</i><a type="button" class="btn btn-block btn-lg btn-linkedin" target="blank_"><i class="fa fa-linkedin"></i></a></p>
                                <p><i>Check out my github</i><a href="https://github.com/erbogart28" type="button" class="btn btn-block btn-lg btn-github" target="blank_"><i class="fa fa-github"></i></a></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-push-4 col-md-push-4 col-sm-push-4 col-xs-12 col-sm-4">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title">
                                    View My Resume
                                </h4>
                                <p class="resumeText">
                                   My resume can be viewed here. Please feel free to right click the link and save a copy for yourself if you're interested.
                                </p>
                            </div>
                            <div class="card-read-more">
                                <%= link_to " View Resume", image_path("resume.jpg"), :target => "_blank", :class => "btn btn-link btn-block" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     </div>
 </section>
 
