<%= render 'landing' %>
<%= render 'aboutme' %>
<!-- renders fill div with UI/UX and/or dev work. Allows for filter options with  -->
<%= render 'sidebar' %>
<div id="fill-in">
</div>
<span><a href="#" class="arrow-scroll-up"></a></span>
<%= render 'footer' %>
