<%= render 'landing' %>
<%= render 'aboutme' %>
<!-- renders fill div with UI/UX and/or dev work. Allows for filter options with  -->
<%= render 'sidebar' %>
<div id="fill-in">
</div>
<div class="hidden" id="scrollup"><a href="#" class="arrow-scroll-up"></a></div>
<%= render 'footer' %>
