<%= render 'landing' %>
<%= render 'aboutme' %>
<!-- renders fill div with UI/UX and/or dev work. Allows for filter options with  -->
<%= render 'sidebar' %>
	<div id="fill-in"></div>
	<a href="#" class="arrow-scroll-up hidden"  id="scrollup"></a>
<%= render 'footer' %>
