/*
 *= require_self
 *= require font-awesome
 *= require_tree .
 */
 
.mdl-card + .mdl-card {
  margin-top: 40px;
}

// Card styles

.mdl-card--horizontal {
  flex-direction: column;
  height: 1vh; /* 1 */
  padding-left: 150px;
  width: 100%;
  
  .mdl-card__media {
    left: 0;
    position: absolute;
    width: 150px;
  }
  
  .mdl-card__supporting-text {
    flex: 1 1 auto;
    width: auto;
  }
}

.mdl-card--horizontal-2 {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 0px;
  
  .mdl-card__title {
    align-items: flex-start;
    flex-direction: column;
    flex: 1 auto;
    float: left;
  }
  .mdl-card__title-text {
    align-self: flex-start;
  }
  .mdl-card__media {
    flex: 0 auto; 
    float: right;
    height: 112px;
    margin: 16px 16px 0 0;
    width: 112px;
  }
  .mdl-card__actions {
    clear: both;
    flex: 1 auto; 
  }
}
#aboutme-content{ 
  border-top: 1px solid #eeeeee;  /*ABOUT ME SECTION | BORDER TOP HERE TO CLEARLY SEPERATE FROM LANDING PAGE */
}

#aboutMeText{
  font-size: 16px;
}

#contactCards{
  margin-top: 6rem;
}

#static_page_message{
	max-width: 100% !important; /*prevent message text area from width expanding outside of card */
}

.fa-linkedin {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 18px !important;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
.fa-github{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 18px !important;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

@media (min-width: 992px){
	#contact{
	    width: 83.33333333%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 768px){
	#contactCards{
		margin: 10px;
	}
}

@media(max-width: 620px) and (min-width: 320px){
	#headshot{
		margin: 1em 0;
	}
}