/*#######################################
#  Landing Page Section and elements definied 
########################################*/
/* landing page section wrap. Full screen load landing page */
.landing {
  position: relative;
  min-height: 100vh !important;
  text-align: center; 
  padding: 0;
  background: #ECE9E6;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(bottom, #FFFFFF, #ECE9E6);
  background: -moz-linear-gradient(bottom, #FFFFFF, #ECE9E6);
  background: -o-linear-gradient(bottom, #FFFFFF, #ECE9E6);
  background: linear-gradient(to top, #FFFFFF, #ECE9E6);
  border-bottom: .01px solid black;
} 

/* div wrap for all rows. contains fade-in class as well */
#landingPageRows{
   margin-top: 3rem;
}

/* article ID for MAIN TITLE ON LANDING PAGE | CONTAINER */
#landing-header-wrap{
  margin-top:3rem;
}

 /*ID for the P tag which utilizes the animated text itself | first header seen on page */
#landing-header {
  font: 500 22px/1 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform:uppercase;
  letter-spacing: 2.5px;  	
  display:block !important;
  justify-content:center;
  text-shadow: 0 0 80px rgba(255,255,255,.5);
  color:black;
}

/* SECONDARY MAIN TITLE TEXT | above and below the larger main title text (landing header) */
#landing-header span {
  font: 700 60px/1.2 "Oswald", sans-serif;
  letter-spacing: 8px;  	
  display:block !important;
  justify-content:center;
  text-shadow: 0 0 80px rgba(255,255,255,.5);
  /* Clip Background Image for text fill */
  background-image: asset-data-url("hubble_friday.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* landing row buttons | 3 in total - about me, dev work, design work */
.landingRowButton {
  display:flex;  
  justify-content:center;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  letter-spacing: 3px;
  font-size: 5rem;
  font-weight: 500;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
}

/* eases out back to white text to avoid having focused/clicked row remain green until another is clicked or page is refreshed */
.sectionScroll > .landingRowButton:focus{
  color: white;
}
.sectionScroll > .landingRowButton:hover{
  color: #79a736 !important;
  transition: all 0.2s ease-in;
}
/*background color for about me row - dark blue to black/grey - high atmosphere */
#aboutRowLanding{
  background-color: #a1c4fd;
  background: -webkit-linear-gradient(#4d4d4d -75%, #a1c4fd 95%);
  background: -moz-linear-gradient(#4d4d4d -75%, #a1c4fd 95%);
  background: -o-linear-gradient(#4d4d4d -75%, #a1c4fd 95%);
  background: linear-gradient(#4d4d4d -75%, #a1c4fd 95%);
  margin-bottom:4rem;
}

/*background  color for dev row -  sky blue to darker blue */
#devRowLanding{
  background:-webkit-linear-gradient(#A1C4F7 30%, #c2e9fb 90%);
  background:-moz-linear-gradient(#A1C4F7 30%, #c2e9fb 90%);
  background:-o-linear-gradient(#A1C4F7 30%, #c2e9fb 90%);
  background:linear-gradient(#A1C4F7 30%, #c2e9fb 90%);
  margin-bottom:4rem;
}

/*background color sky blue with cloud image | DESIGN row */
#designRowLanding{
  background-color: #c2e9fb !important;
  background: asset-data-url("cloud2.png") repeat-y;
}

/* animated clouds on design row hover */
#designRowLanding > a:hover{
  background: asset-data-url("cloud2.png") repeat-y;
    -webkit-animation: cloud-animations 25s linear infinite;
    -moz-animation: cloud-animations 25s linear infinite;
    -o-animation: cloud-animations 25s linear infinite; 
    animation: cloud-animations 25s linear infinite;
}

/*animate airplane movement on hover */
#devRowLanding > a:hover{
  background: url('http://dev2.slicejack.com/rocket-launch/img/airplane--right.svg') repeat-y;
  /* moving clouds on hover */
    -webkit-animation: plane-animations 25s linear infinite;
    -moz-animation: plane-animations 25s linear infinite;
    -o-animation: plane-animations 25s linear infinite; 
    animation: plane-animations 25s linear infinite;
}

/*animate shooting stars when hovering over about me sections */
#aboutRowLanding:hover > .star1 {
  width:4px;
  height:4px;
  border-radius:50%;
  background:#FFF;
  top:-40px;
  left:400px;
  position:relative;
  opacity:0;
    transform-origin:100% 0;
    animation:star-ani 2s 1 ease-out;
    animation-direction: normal;
}

#aboutRowLanding:hover > .star1:after {
  content:'';
  position:absolute;
  top:0px;
  left:4px;
  border:2px solid #F00;
  border-width:2px 150px 2px 150px; 
  border-color:transparent transparent transparent #FFF;
    transform:rotate(-20deg) translate3d(1px, -1px, 0);
    transform-origin:0% 100%;
    animation:shooting-ani s infinite ease-out;
    animation-direction: normal;
}

#aboutRowLanding:hover > .star2 {
  width:4px;
  height:4px;
  border-radius:50%;
  background:#FFF;
  top:-60px;
  left:-250px;
  position:relative;
    transform-origin:100% 0;
    animation:star-ani 2s 1 ease-out;
    animation-direction: normal;
    opacity:0;
    animation-delay:1s;
}

#aboutRowLanding:hover > .star2:after {
  content:'';
  position:absolute;
  top:0px;
  left:4px;
  border:2px solid #F00;
  border-width:2px 150px 2px 150px; 
  border-color:transparent transparent transparent #FFF;
    transform:rotate(-10deg) translate3d(1px, -1px, 0);
    transform-origin:0% 100%;
    animation:shooting-ani s infinite  ease-out;
    animation-direction: normal;
}

#aboutRowLanding:hover > .star3 {
  width:4px;
  height:4px;
  border-radius:50%;
  background:#FFF;
  top:-60px;
  left:-550px;
  position:relative;
  opacity:0;
    transform-origin:100% 0;
    animation:star-ani 2s 1 ease-out;
    animation-direction: normal;
    animation-delay:2.2s;
}

#aboutRowLanding:hover > .star3:after {
  content:'';
  position:absolute;
  top:0px;
  left:4px;
  border:2px solid #F00;
  border-width:2px 150px 2px 150px; 
  border-color:transparent transparent transparent #FFF;
    transform:rotate(195deg) translate3d(1px, -1px, 0);
    transform-origin:0% 100%;
    animation:shooting-ani s infinite  ease-out;
    animation-direction: normal;
}

/* SCROLL DOWN BUTTON and elements / LANDING page */
.scroll-down.visible{    /* visible scroll down btn positioning */
  bottom: 1vh;
}

.scroll-down {
  text-align: center;
  display: block;
  left: 50%;
  margin-left: -50px;
  position: absolute;
  bottom:-140px;
  height: 100px;
  line-height: 100px;
  width: 100px;
    /* section down button animations */
    -webkit-transition: bottom 1s ease-in !important;
    -moz-transition: bottom 1s ease-in !important;
    -o-transition: bottom 1s ease-in !important;
    transition: bottom 1s ease-in !important; 
}

.scroll-down > .arrow-scroll-btn:hover{
  opacity:1 !important;
  border-right: 2px solid green;
  border-bottom: 2px solid green;
  color:green !important;
}

/* arrow used inside button to indicate there is more info below */
.arrow-scroll-btn {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 2px;
  border-left:0 !important;
  border-top:0 !important;
  display: inline-block;
  height: 50px;
  margin-top: -25px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(45deg);
}

/*LANDING PAGE MEDIA QUERIES*/
@media (max-width: 1200px) and (min-width: 900px) {
  #landing-header > span {
  	font: 700 3.25em/1 "Oswald", sans-serif !important;
  	letter-spacing: 50;
  	padding:.1em 0 !important;
  }
  #landing-header{
    font: 700 16px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  	letter-spacing: .4em;
  	padding-top:.5em;
  	padding-bottom:0 !important;
  }
  .scroll-down.visible{
    bottom: 3vh;  
  }
} 

@media (max-width: 900px) and (min-width: 768px) {
  #landing-header > span {
  	font: 700 3em/1 "Oswald", sans-serif !important;
  	letter-spacing: 50;
  	padding:.1em 0 !important;
  }
  #landing-header{
    font: 700 16px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  	letter-spacing: .4em;
  	padding-top: 1em !important;
  }
} 

@media screen and (max-width:768px){
  .arrow-scroll-btn { 
    opacity:.5;   /* removes faint line only visible on mobile */
  }
}

@media(min-height: 800px) and (min-width: 650px){
  #devRowLanding,
  #aboutRowLanding{
    margin-bottom:8rem;
  }
  .landingRowButton {
    line-height: 10rem;
    height:10rem;
  }
}

@media(max-width: 650px) and (min-width: 320px){
  .landingRowButton {
    font-size:4.25rem;
  }
  #landing-header-wrap {
    padding-top:1em;
  }
   /*landing page and large header redifined */
  #landing-header{
    font: 500 18px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px !important;
    margin-top: -1em !important;
    padding:0 !important;
  }
  #landing-header span {
    font: 700 2em/1 "Oswald", sans-serif;;
    display: block;
    line-height:44px;
    letter-spacing:6px;
  }
  #devRowLanding,
  #aboutRowLanding{
    margin-bottom:3em;
  }
  .overlay{
    font-size:4rem;
    height:6rem;
    line-height: 6.5rem;
  }
  .scroll-down.visible {
    bottom: 5em !important;
  }
  .scroll-down {
     border: 0 solid transparent !important;
  }
}

/*** LANGING PAGE ANIMATIONS ***
cloud animation webkit keyframes / start / end positioning */
@-webkit-keyframes cloud-animations {
  from {
      background-position: 0% 0%;
  }
  to {
      background-position: 110% 0%;
  }
}

/* cloud animation keyframes / start / end positioning  | for older browsers*/
@keyframes cloud-animations {
  from {
      background-position: 110% 0%;
  }
  to {
      background-position: 0% 0%;
  }
}

/* plane webkit animation keyframes / start / end positioning */
@-webkit-keyframes plane-animations {
  from {
      background-position: -10% 0%;
  }
  to {
      background-position: 110% 5%;
  }
}

/* plane animation keyframes / start / end positioning | for older browsers*/
@keyframes plane-animations {
  from {
      background-position: -10% 0%;
  }
  to {
      background-position: 110% 5%;
  }
}

/* shooting star webkit animation keyframes / start / end positioning  */
@-webkit-keyframes shooting-ani {
  0% {
    
  }
  50% {
    transform:scale(1) rotate(-45deg) translate(0px, 0px);
  }
  100% {
    transform:scale(0.5) rotate(-45deg) translate(0px, -1px);
  }
}

/* star webkit animation keyframes / start / end positioning */
@-webkit-keyframes star-ani {
  0% {
    opacity:0;
    transform:scale(0) rotate(0) translate3d(0, 0, 0);
  }
  50% {
    opacity:1;
    transform:scale(1) rotate(0) translate3d(-200px, 200px, 0);
  }
  100% {
    opacity:0;
    transform:scale(1) rotate(0) translate3d(-300px, 300px, 0);
  }
}

/* shooting star keyframes animation keyframes / start / end positioning | for older browsers*/
@keyframes shooting-ani {
  0% {
    
  }
  50% {
    transform:scale(1) rotate(-45deg) translate(0px, 0px);
  }
  100% {
    transform:scale(0.5) rotate(-45deg) translate(0px, -1px);
  }
}

/* star keyframes animation keyframes / start / end positioning | for older browsers*/
@keyframes star-ani {
  0% {
    opacity:0;
    transform:scale(0) rotate(0) translate3d(0, 0, 0);
  }
  50% {
    opacity:1;
    transform:scale(1) rotate(0) translate3d(-200px, 200px, 0);
  }
  100% {
    opacity:0;
    transform:scale(1) rotate(0) translate3d(-300px, 300px, 0);
  }
}

/*  start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }