/* Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com*/
* { margin:0; padding:0; } /* to remove the top and left whitespace */

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

h2{
  margin-left:.4em;
}
h3{
  text-indent:.5em;
}
p{
  padding:.5em;
  margin-left:.2em;
}
a{
  text-decoration: none!important;
}
section {
  overflow: hidden;
}
article{
  overflow:hidden;
}
h1.heading {
  color: black;
  font-size: 3.25em;
  font-weight: 800;
  height:auto;
  padding: 1.5rem 0 0 2rem;
}

/*-------------------------------------------------- */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
    background-image: -webkit-linear-gradient(to right, #a1c4fd 0%, #c2e9fb 100%);
    background-image: -moz-linear-gradient(to right, #a1c4fd 0%, #c2e9fb 100%);
    background-image: -o-linear-gradient(to right, #a1c4fd 0%, #c2e9fb 100%);
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 100%);
    padding-top:1em;
}


/**********************
SECTION STYLES 
/********************* */
/* SECTION BACKGROUNDS */
#aboutme-content,
#dev-content,
#design-content{
    background: #ECE9E6;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(bottom, #FFFFFF, #ECE9E6);
    background: -moz-linear-gradient(bottom, #FFFFFF, #ECE9E6);
    background: -o-linear-gradient(bottom, #FFFFFF, #ECE9E6);
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    border-bottom: .01px solid #eeeeee;
}

/*ABOUT ME SECTION | BORDER TOP HERE TO CLEARLY SEPERATE FROM LANDING PAGE */
#aboutme-content{
  border-top:1px solid #eeeeee;
}

/*#######################################
#  Landing page and elements definied 
########################################*/
/* landing page section wrap. Full screen load landing page */
.landing {
    position: relative;
    min-height: 100vh !important;
    width: 100%;
    font: 400 1em/1.5 "Neuton"; background: #090d00; 
    /*color: rgba(255,255,255,.25); */
    text-align: center; 
    margin: 0;
    background: #ECE9E6;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(bottom, #FFFFFF, #ECE9E6);
    background: -moz-linear-gradient(bottom, #FFFFFF, #ECE9E6);
    background: -o-linear-gradient(bottom, #FFFFFF, #ECE9E6);
    background: linear-gradient(to top, #FFFFFF, #ECE9E6);
    border-bottom: .01px solid black;
}

/* article ID for MAIN TITLE ON LANDING PAGE | CONTAINER */
#animatedtext{
    display: flex;
    justify-content: center;
    width:100vw !important;
    margin-top:2em;
    margin-bottom:-1.5em;
}

 /*ID for the P tag which utilizes the animated text itself | first header seen on page */
#landing-header {
  	font: 500 22px/1 "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  	text-transform:uppercase;
    letter-spacing: 2.5px;  	
    display:block !important;
  	justify-content:center;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);
    color:black;
}

/* SECONDARY MAIN TITLE TEXT | above and below the larger main title text (landing header) */
#landing-header span {
  	font: 700 60px/1.2 "Oswald", sans-serif;
    letter-spacing: 8px;  	
    display:block !important;
  	justify-content:center;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);
    /* Clip Background Image for text fill */
  	background: url(https://www.nasa.gov/sites/default/files/thumbnails/image/hubble_friday_08052016.jpg);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

/* LANDING PAGE ROWS - CLASS FOR THE ROW SECTIONS */
.landingRowSection {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

/* landing row buttons | 3 in total - about me, dev work, design work */
.landingRowButton {
    height: 10rem;
    width: 100vw;
    display: block;
    position: relative;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
    letter-spacing: 3px;
    font-size: 5rem;
    line-height: 10rem;
    font-weight: 500;
}

/*background color for about me row - dark blue to black/grey - high atmosphere */
#aboutRowLanding{
  background-color: #a1c4fd;
  background: -webkit-linear-gradient(#4d4d4d -75%, #a1c4fd 95%);
  background: -moz-linear-gradient(#4d4d4d -75%, #a1c4fd 95%);
  background: -o-linear-gradient(#4d4d4d -75%, #a1c4fd 95%);
  background: linear-gradient(#4d4d4d -75%, #a1c4fd 95%);
}

/*background  color for dev row -  sky blue to darker blue */
#devRowLanding{
   background:-webkit-linear-gradient(#A1C4F7 30%, #c2e9fb 90%);
   background:-moz-linear-gradient(#A1C4F7 30%, #c2e9fb 90%);
   background:-o-linear-gradient(#A1C4F7 30%, #c2e9fb 90%);
   background:linear-gradient(#A1C4F7 30%, #c2e9fb 90%);
}

/*background color sky blue with cloud image | DESIGN row */
#designRowLanding{
    background-color: #c2e9fb !important; 
    background: url('https://pics.clipartpng.com/midle/Cirrus_Clouds_PNG_Clipart-867.png') repeat-y;
}

/* animated clouds on design row hover */
#designRowLanding > a:hover{
    background: url('https://pics.clipartpng.com/midle/Cirrus_Clouds_PNG_Clipart-867.png') repeat-y;
      -webkit-animation: cloud-animations 25s linear infinite;
      -moz-animation: cloud-animations 25s linear infinite;
      -o-animation: cloud-animations 25s linear infinite; 
      animation: cloud-animations 25s linear infinite;
}

/*animate airplane movement on hover */
#devRowLanding > a:hover{
  /*color:#AEAEAE;*/
    background: url('http://dev2.slicejack.com/rocket-launch/img/airplane--right.svg') repeat-y;
    /* moving clouds on hover */
      -webkit-animation: plane-animations 25s linear infinite;
      -moz-animation: plane-animations 25s linear infinite;
      -o-animation: plane-animations 25s linear infinite; 
      animation: plane-animations 25s linear infinite;
}

/*animate shooting stars when hovering over about me sections */
#aboutRowLanding:hover > .star1 {
  width:4px;
  height:4px;
  border-radius:50%;
  background:#FFF;
  top:-40px;
  left:400px;
  position:relative;
  transform-origin:100% 0;
   animation:star-ani 2s 1 ease-out;
  animation-direction: normal;
  opacity:0;
}

#aboutRowLanding:hover > .star1:after {
  content:'';
  position:absolute;
  top:0px;
  left:4px;
  border:2px solid #F00;
  border-width:2px 150px 2px 150px; 
  border-color:transparent transparent transparent #FFF;
  transform:rotate(-20deg) translate3d(1px, -1px, 0);
  transform-origin:0% 100%;
  animation:shooting-ani s infinite ease-out;
  animation-direction: normal;
}

#aboutRowLanding:hover > .star2 {
  width:4px;
  height:4px;
  border-radius:50%;
  background:#FFF;
  top:-60px;
  left:-250px;
  position:relative;
  transform-origin:100% 0;
   animation:star-ani 2s 1 ease-out;
  animation-direction: normal;
  opacity:0;
  animation-delay:1s;
}

#aboutRowLanding:hover > .star2:after {
  content:'';
  position:absolute;
  top:0px;
  left:4px;
  border:2px solid #F00;
  border-width:2px 150px 2px 150px; 
  border-color:transparent transparent transparent #FFF;
  transform:rotate(-10deg) translate3d(1px, -1px, 0);
  transform-origin:0% 100%;
  animation:shooting-ani s infinite  ease-out;
  animation-direction: normal;
}

#aboutRowLanding:hover > .star3 {
  width:4px;
  height:4px;
  border-radius:50%;
  background:#FFF;
  top:-60px;
  left:-550px;
  position:relative;
  transform-origin:100% 0;
   animation:star-ani 2s 1 ease-out;
  animation-direction: normal;
  opacity:0;
  animation-delay:2.2s;
}

#aboutRowLanding:hover > .star3:after {
  content:'';
  position:absolute;
  top:0px;
  left:4px;
  border:2px solid #F00;
  border-width:2px 150px 2px 150px; 
  border-color:transparent transparent transparent #FFF;
  transform:rotate(195deg) translate3d(1px, -1px, 0);
  transform-origin:0% 100%;
  animation:shooting-ani s infinite  ease-out;
  animation-direction: normal;
}

/* cloud animation webkit keyframes / start / end positioning */
@-webkit-keyframes cloud-animations {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 110% 0%;
    }
}

/* cloud animation keyframes / start / end positioning  | for older browsers*/
@keyframes cloud-animations {
    from {
        background-position: 110% 0%;
    }
    to {
        background-position: 0% 0%;
    }
}

/* plane webkit animation keyframes / start / end positioning */
@-webkit-keyframes plane-animations {
    from {
        background-position: -10% 0%;
    }
    to {
        background-position: 110% 5%;
    }
}

/* plane  animation keyframes / start / end positioning | for older browsers*/
@keyframes plane-animations {
    from {
        background-position: -10% 0%;
    }
    to {
        background-position: 110% 5%;
    }
}

/* shooting star webkit animation keyframes / start / end positioning  */
@-webkit-keyframes shooting-ani {
  0% {
    
  }
  50% {
    transform:scale(1) rotate(-45deg) translate(0px, 0px);
  }
  100% {
    transform:scale(0.5) rotate(-45deg) translate(0px, -1px);
  }
}

/* star webkit animation keyframes / start / end positioning */
@-webkit-keyframes star-ani {
  0% {
    opacity:0;
    transform:scale(0) rotate(0) translate3d(0, 0, 0);
  }
  50% {
    opacity:1;
    transform:scale(1) rotate(0) translate3d(-200px, 200px, 0);
  }
  100% {
    opacity:0;
    transform:scale(1) rotate(0) translate3d(-300px, 300px, 0);
  }
}

/* shooting star keyframes animation keyframes / start / end positioning | for older browsers*/
@keyframes shooting-ani {
  0% {
    
  }
  50% {
    transform:scale(1) rotate(-45deg) translate(0px, 0px);
  }
  100% {
    transform:scale(0.5) rotate(-45deg) translate(0px, -1px);
  }
}

/* star keyframes animation keyframes / start / end positioning | for older browsers*/
@keyframes star-ani {
  0% {
    opacity:0;
    transform:scale(0) rotate(0) translate3d(0, 0, 0);
  }
  50% {
    opacity:1;
    transform:scale(1) rotate(0) translate3d(-200px, 200px, 0);
  }
  100% {
    opacity:0;
    transform:scale(1) rotate(0) translate3d(-300px, 300px, 0);
  }
}
/*#######################################
#   scroll down button and elements / landing paage 
########################################*/
/* visible scroll down btn positioning */
.scroll-down.visible{
    bottom: 1vh;
}
.scroll-down {
    border-radius: 50%;
    border:1px solid #eeeeee;
    text-align: center;

    display: block;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    bottom:-140px;
    height: 100px;
    line-height: 100px;
    width: 100px;
      /* section down button animations */
      -webkit-animation:scroll-down-popup 2.5s 2 !important;
      -moz-animation: scroll-down-popup 2.5s 2 !important; 
      -o-animation: scroll-down-popup 2.5s 2 !important; 
      animation: scroll-down-popup 2.5s 2 !important;
      
      -webkit-transition: bottom 1s ease-in !important;
      -moz-transition: bottom 1s ease-in !important;
      -o-transition: bottom 1s ease-in !important;
      transition: bottom 1s ease-in !important; 
}
.scroll-down > .arrow-scroll-btn:hover{
    /*background-color: #808080;*/
    opacity:1 !important;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    color:green !important;
}
/* arrow used inside button to indicate there is more info below */
.arrow-scroll-btn {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 2px;
    display: inline-block;
    font-size: 0;
    height: 50px;
    line-height: 0;
    margin-top: -25px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(45deg);
}
/*scrolldown button keyframes defined | show from bottom */
@-webkit-keyframes scroll-down-popup {
  0%   { opacity: .3; }
  50%   { opacity: .55; }
  100% { opacity: .85; }
}

@-moz-keyframes scroll-down-popup {
  0%   { opacity: .3; }
  50%   { opacity: .55; }
  100% { opacity: .85; }
}

@-o-keyframes scroll-down-popup {
  0%   { opacity: .3; }
  50%   { opacity: .55; }
  100% { opacity: .85; }
}

@keyframes scroll-down-popup {
  0%   { opacity: .3; }
  50%   { opacity: .55; }
  100% { opacity: .85; }
  0%   { border-color:  #555; }
  50%   { border-color: #555; }
  100% { border-color: #eee; }
}
/*  start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

 /*fade in landing page elements */
.fade-in {
    opacity:0;  
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    
    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

/************** 
CARD styles
**********/
.card {
    display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
    border: 1px solid #eeeeee;
}
.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
    overflow: hidden;
}
.img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover; 
    transition: all .25s ease;
} 
.card-content {
    padding:15px;
    text-align:left;
}
.card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 1.65em;
}
.card-title a {
    color: #000;
    text-decoration: none !important;
}
.card-read-more {
    border-top: 1px solid #D4D4D4;
}
.card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
}
.card {
    border-radius: 10px!important;
    border-bottom: 5px solid #eee!important;
}
.tooltip-inner {
  width:200px;
    /*box-shadow: 0px -3px 1px 1px rgba(0,0,0,1.1), 0 2px 8px 0 rgba(0,0,0,0.12);*/
  }
/********************************************/
/**** homepage content | Beneath landing page *****/
/********************************************/
#aboutmepagecontent{
    margin-top:2em;
}
#aboutMe{
    background-color:white;
    /*below creates overhang to card section, but title is still full width */
    /*width:100vw;*/
    /*margin-left: -2rem;*/
}
#aboutMeText{
    font-size:16px;
    margin:4em .25em;
}
/* headhshot image */
#headshot{
    border:none;
    margin:2em 0;
}
#homepageCards{
    padding-top: 2em;
}
/********************************************/
/************  Dev Page *********************/
/********************************************/
#developmentWork{
  margin-bottom:5em;
}
/********************************************/
/****************   Design Page  ************/
/********************************************/
#designWork{
    margin-bottom:5em;
}
#wireframeWalk{
    width:80%;
}
#wireframePics > img{
    border:.1px solid black;
}
/*accordion text for wireframes*/
#wireText{
    text-align:left;
    margin-top:1em;
}
/********************************************/
/*accordion definitions */
/********************************************/
.accordion-panel {
  text-align: center;
  display: block;
  text-decoration: none;
  -webkit-transition: background-color 0.8s ease-in-out;  
  -moz-transition: background-color 0.8s ease-in-out;  
  transition: background-color 0.5s ease-in-out;
  box-shadow: none;
}
.accordion-title {
  text-transform: uppercase;
  font-weight: 100!important;
  padding: .1em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.accordion-title>a:hover {
  text-decoration: none!important;
}
.accordion-content {
  margin: 0em 3em 3em 3em;
}
.scroll-downivider {
  height: 3px;
  border-radius: 3px;
  margin: 0em 3em 3em 3em;
}
#accordion-container{
  margin-top:1em;
}
/*full screen display modal ** commented out margin and width which allow full screen, here if needed later */
.modal-dialog {
  /*width: 100%;*/
  height: 100%;
  /*margin: 0;*/
  padding: 0;
}
.fa-expand {
  position: relative;
  display: inline-block;
}
/*#wireframePics::before {*/
/*    content: '⤡';*/
/*    z-index: 5;*/
/*    position: absolute;*/
/*    left: 15%;*/
/*    top: 20%;*/
    /* font-size: 12px; */
/*    transform: translate( -50%, -50% );*/
/*    padding: 0px 8px 4px 8px;*/
/*    color: white;*/
/*    font-size: 25px !important;*/
/*    background-color: rgba(23, 35, 34, 0.5);*/
/*    border-radius: 5px 5px 5px 5px;*/
/*}*/
/*#wireframePics > a{*/
/*  height: auto;*/
/*  min-height: 100%;*/
/*  border-radius: 0;*/
/*}*/
 .fa-chevron-up {
   color: #004e92;
 }
/* display buttons according to expansion */
.accordion-title > a[aria-expanded="true"] .fa-chevron-down {
  display:none !important;
}
.accordion-title > a[aria-expanded="false"] .fa-chevron-up {
  display:none !important;
}
/************ back arrow / back page / btn **********/
/*display flex for back button and text / allows back-text to be positioned perfectly */
#back{
  display: initial;
  text-decoration:none !important;
}
/* text after back arrow icon --*/
#back-text{
  word-spacing: .1em;
  font-size: 16px;
}
/************back arrow icon ***********/
.fa-arrow-left{
  padding-left: 5px;  
  margin-right:1%;
  padding-bottom: .75em;
}

/*********************************************************/
/*  Modal for image preview
***************************************************************/
.modal.and.carousel {
  position: fixed; /* Needed because the carousel overrides the position property */
}
.left.carousel-control,
.right.carousel-control{
  background:none;
  padding-top: 35px;  
  margin: 15px 2.6% 70px 2.3%;
  font-size:32px;
  opacity: 1;
  min-height:max-content;

  color: #000428; /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #000428, #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow:hidden;
}

.left.carousel-control:hover,
.right.carousel-control:hover{
    opacity:1;
    color:white;

    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 50%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 50%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 50%);
}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    border: black;
    border-style: double;
}
.carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #000428;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0);
    bottom:0;
}

/*close "x" button for modal preview displays */
.close {
    margin-top: -2px;
    color:#990000;
    opacity: .7;
}
.close:hover, 
.close:focus {
    color: #990000;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
    /*filter: alpha(opacity=50);*/
}

/*********************************************************/
/*    tooltip - popover element on scroll-down btn  
***************************************************************/
.visible.tooltip {
  position: absolute;
  z-index: 1070;
  display: flex;
  justify-content:center;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  left:-20px;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: nowrap !important;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 14px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip {
    font-size: 12px;
    line-height: 21px;
    font-weight: 500;
    text-transform: uppercase;
}
.tooltip-inner {
    max-width: 280px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    background-color: #3e3f3a;
    border-radius: 4px;
}
/*********************************************************/
/*   footer stlyes / header nav elememnts -> social media
***************************************************************/
#footer-elements{
  background-color:white;
  bottom:0;
}
.fa-linkedin {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px !important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-github
{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px !important;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 768px){
   br 
    { 
       display: none;  
    }
} 

/*********************************************************/
/*   SIDEBAR STYLES
***************************************************************/
#sidebar{
  position: fixed;
  top: 2vh;
  left: 0px;
  z-index:1;
  padding-top:1rem;
  padding-bottom:1rem;
  list-style:none;
  background-image: -webkit-linear-gradient(left, #a1c4fd 90%, #c2e9fb 100%);
  background-image: -moz-linear-gradient(left, #a1c4fd 90%, #c2e9fb 100%);
  background-image: -o-linear-gradient(left, #a1c4fd 90%, #c2e9fb 100%);
  background-image: linear-gradient(to right, #a1c4fd 90%, #c2e9fb 100%);
  border-color: #3e3f3a;
  display: inline-block;
  margin:0;
  border-radius: 0 5px 5px 0;
}

.nav a:hover{
    color: black !important;
    transition: all .25s;
    background: -webkit-linear-gradient(left, #FFFFFF 86%, #ECE9E6 92%);
    background: -moz-linear-gradient(left, #FFFFFF 86%, #ECE9E6 92%);
    background: -o-linear-gradient(left, #FFFFFF 86%, #ECE9E6 92%);
    background: linear-gradient(to right, #FFFFFF 86%, #ECE9E6 92%);
}
.nav > li > a:focus{
  background:none;
}
.nav > li.active{
  background-color:#f8f5f0 !important;
}

.nav > li > a.fa {
    padding:1rem;
    color:#f8f5f0;
}
.nav > li.active > a.fa {
    padding:1rem;
    color:#79a736 !important;
    background: -webkit-linear-gradient(left, #FFFFFF 86%, #ECE9E6 92%);
    background: -moz-linear-gradient(left, #FFFFFF 86%, #ECE9E6 92%);
    background: -o-linear-gradient(left, #FFFFFF 86%, #ECE9E6 92%);
    background: linear-gradient(to right, #FFFFFF 86%, #ECE9E6 92%);
}

@media screen and (max-width:768px){
  #sidebar .fa {
    padding:1.25rem .5rem;
    font-size:1.75em;
  }
  #homepageCards{
    margin: 10px;
  }
  .page-header{
    margin-bottom:2rem;
    
  }
}
/*********************************************************/
/*    Definied media queries for improved responsiveness for general page layout // mainly landing page
***************************************************************/
@media(max-width:2800px) and (min-width: 1200px){
  #nav-circles{
    margin:25vh auto;
    height: 45vh;
  }
    #aboutMeText{
    font-size:16px;
    margin:4em .25em;
    padding-left:4em !important;
  }
} /*end max 2800 min 1200px */

@media (max-width: 1200px) and (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
  }
  #landing-header > span {
  	font: 700 4em/1 "Oswald", sans-serif !important;
  	letter-spacing: 50;
  	padding:.1em 0 !important;
  }
  #landing-header{
    font: 700 16px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  	letter-spacing: .4em;
  	padding-top:.5em;
  	padding-bottom:0 !important;
  }
  .btn-circle.btn-xl {
    width: 25px !important;
    padding: 100px !important;
    font-size: 24px !important;
    line-height: 1.33;
    border-radius: 136px !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    background-color: #EEEEE8;
  }  
  .scroll-down.visible{
    bottom: 3vh;  
  }
} /*end max 1200 min 900px */

@media (max-width: 900px) and (min-width: 768px) {
  h1.heading {
    font-size: 3.25em;
  }
  #landing-header > span {
  	font: 700 3em/1 "Oswald", sans-serif !important;
  	letter-spacing: 50;
  	padding:.1em 0 !important;
  }
  #landing-header{
    font: 700 16px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  	letter-spacing: .4em;
  	padding-top: 1em !important;
  }
  #aboutMeText{
    font-size:16px;
    margin:0;
    line-height:1.6;
    margin:1em 0;
  }
} /* end max 900 and min 768 px */
/* tablet focus */
@media(max-width: 768px) and (min-width: 620px){ 
  #animatedtext {
    padding-top:1em;
  }
  #landing-header span {
    font: 700 48px/1 "Oswald", sans-serif;
    letter-spacing: 9px !important;
    padding: .15em 0 .15em !important;
  }
  #landing-header{
    font: 600 16px/1 "Roboto", sans-serif;
    letter-spacing: 5px;
  }
  .scroll-down.visible {
    bottom: 4em !important;
  }
  #headshot{
    border:none;
    margin:1em 0;
  }
  h1.heading {
    color: #000000;
    font-size: 3.25em;
    font-weight: 800;
    height:auto;
    text-indent:.25em;
  }
  #aboutMeText{
    font-size:16px;
    margin:0;
    line-height:1.6;
    margin-bottom:2em;
  }
} /* end min-width: 620 and max-width: 768px */

/* mobile phone screen size focus - 620px and below */
@media(max-width: 620px) and (min-width: 320px){
  .landing {
    background-color:white;
  }
  .landingRowSection{
    height:10vh;
  }
  .landingRowButton{
    font-size: 4rem;
    line-height: 6.5rem;
  }
  #animatedtext {
    padding-top:1em;
  }
   /*landing page and large header redifined */
  #landing-header{
    font: 500 18px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px !important;
    margin-top: -1em !important;
    padding:0 !important;
  }
  #landing-header span {
    font: 700 2em/1 "Oswald", sans-serif;;
    display: block;
    line-height:44px;
    letter-spacing:6px;
  }
  #devRowLanding,
  #aboutRowLanding{
    margin-bottom:3em;
  }
  .overlay{
    font-size:4rem;
    height:6rem;
    line-height: 6.5rem;
  }
  .scroll-down.visible {
    bottom: 5em;
  }
  .scroll-down {
     border: 0 solid transparent;
  }
  #headshot{
    border:none;
    margin:1em 0;
    z-index:20;
  }
  #aboutMeText{
    font-size:16px;
    margin:0;
    line-height:1.6;
    margin-bottom:2em;
  }
  #page-title {
    color: #000000;
    font-weight: 800;
    height:auto;
    text-indent:.25em;
    border: 1px solid black;
    border-right:none; 
    border-left:none;
    z-index: 20;
    padding-bottom:5px;
  }
}
