/* Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com*/
* { margin:0; padding:0; } /* to remove the top and left whitespace */

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

p{
  padding:.5em;
  margin-left:.2em;
}

a{
  text-decoration: none!important;
}

section {
  overflow: hidden;
}

article{
  overflow:hidden;
}

/*#######################################
#  Sticky footer styles 
########################################*/
html {
  position: relative;
  min-height: 100%;
  font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;  
  padding-top:1em;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-image: -webkit-linear-gradient(to right, #a1c4fd 0%, #c2e9fb 100%);
  background-image: -moz-linear-gradient(to right, #a1c4fd 0%, #c2e9fb 100%);
  background-image: -o-linear-gradient(to right, #a1c4fd 0%, #c2e9fb 100%);
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 100%);
}

#footer-elements{
  background-color:white;
  bottom:0;
}

/*#######################################
#  /* Utility class and common tag overrides
########################################*/
/* override webkit focus for image links. Span is occasionally used as role type button to toggle collapse - - blue border around them is not needed.  */
img:focus,
a:focus,
span:focus{
  outline: 0 !important;
}

h1.heading {
  color: black;
  font-size: 3.25em;
  font-weight: 800;
  height:auto;
  padding-left: 1.5rem;
}

/*80% width, used mainly on cards / accordions */
.eightypercent{
  width:80% !Important;
}

/*override defualt black border. This isn't that noticeable, but provides for a nice, suitable difference compared to no border at all or a small grey/black border */
.img-responsive{
  border: 1px solid #eeeeee !important
}
 /*fade in elements */
.fade-in {
  opacity:0;  
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    
    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

/* page header class, mobile adjustments */
@media screen and (max-width:768px){
  .page-header{
    margin-bottom:2rem;
  }
}

/*#######################################
#  /* SECTION STYLES|  Beneath landing page 
########################################*/
/* SECTION BACKGROUNDS */
#aboutme-content,
#dev-content,
#design-content{
  border-bottom: .01px solid #eeeeee;
  background: #ECE9E6;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(bottom, #FFFFFF, #ECE9E6);
  background: -moz-linear-gradient(bottom, #FFFFFF, #ECE9E6);
  background: -o-linear-gradient(bottom, #FFFFFF, #ECE9E6);
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
}

/*section headers for dev and design, adjusted for sidebar*/
#dev-content > div:nth-child(1) > section > h1,
#design-content > div.container > section > h1{
  margin-left:2rem;
}

/* Back to top arrow up */
.arrow-scroll-up {
  bottom:2rem;
  right:1rem;
  opacity:.6;
  position:fixed;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 2px;
  border-left: 0 !important;
  border-top: 0 !important;
  display: inline-block;
  height: 30px;
  width: 30px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(225deg);
}

/*filter buttons for cards */
.filter-buttons {
  padding-top: 2.5rem;
  right: 4rem;
  position: absolute;
}

/*** CARD STYLES ***/
.card {
  display: block; 
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
  transition: box-shadow .25s; 
  border: 1px solid #eeeeee;
  border-radius: 10px;
  border-bottom: 5px solid #eee !important;
}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.img-card {  /* image portion of card */
  width: 100%;
  height:200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display:block;
  overflow: hidden;
  object-fit:contain; 
  border-bottom:1px solid #eeeeee;
  background-color: #f8f5f0;
}

.card-content {
  padding:15px;
  text-align:left;
}

.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}

.card-read-more a {
  font-weight: 600;
  text-transform: uppercase;
  outline: 0 solid white !important;
  font-size: .9em;
  letter-spacing: 1.1px;
  white-space: normal;
}

.card-read-more a:hover {
  transition: all .25s;
  background: -webkit-linear-gradient(right, #FFFFFF 86%, #ECE9E6 92%);
  background: -moz-linear-gradient(right, #FFFFFF 86%, #ECE9E6 92%);
  background: -o-linear-gradient(right, #FFFFFF 86%, #ECE9E6 92%);
  background: linear-gradient(to bottom, #FFFFFF 86%, #ECE9E6 92%);
}

/*#######################################
#  /* SIDEBAR STYLES
########################################*/
#sidebar{
  position: fixed;
  display: inline-block;
  margin:0;
  top: 2vh;
  left: 0px;
  z-index:1;
  padding-top:1rem;
  padding-bottom:1rem;
  list-style:none;
  border-color: #3e3f3a;
  border-radius: 0 5px 5px 0;
  background-image: -webkit-linear-gradient(right, #a1c4fd 90%, #c2e9fb 100%);
  background-image: -moz-linear-gradient(right, #a1c4fd 90%, #c2e9fb 100%);
  background-image: -o-linear-gradient(right, #a1c4fd 90%, #c2e9fb 100%);
  background-image: linear-gradient(to right, #a1c4fd 90%, #c2e9fb 100%);
}

.nav a:hover{
  color: black !important;
  transition: all .25s;
  background: -webkit-linear-gradient(right, #FFFFFF 86%, #ECE9E6 92%);
  background: -moz-linear-gradient(right, #FFFFFF 86%, #ECE9E6 92%);
  background: -o-linear-gradient(right, #FFFFFF 86%, #ECE9E6 92%);
  background: linear-gradient(to right, #FFFFFF 86%, #ECE9E6 92%);
}

.nav > li > a:focus{
  background:none !important;
}

.nav > li.active{
  background-color:#f8f5f0 !important;
}

.nav > li > a.fa {
  padding:1rem;
  color:#f8f5f0;
}

.nav > li.active > a.fa {
  padding:1rem;
  color:#79a736 !important;
  background: -webkit-linear-gradient(right, #FFFFFF 86%, #ECE9E6 92%);
  background: -moz-linear-gradient(right, #FFFFFF 86%, #ECE9E6 92%);
  background: -o-linear-gradient(right, #FFFFFF 86%, #ECE9E6 92%);
  background: linear-gradient(to right, #FFFFFF 86%, #ECE9E6 92%);
}

.tooltip-inner {    /* prevent line breaks for tooltip at this width */
  width:100px;
}

/* mobile icon adjustments*/
@media screen and (max-width:768px){
  #sidebar .fa {
    padding:1.25rem .5rem;
    font-size:1.75em;
  }
}

/*#######################################
#  /*   Modal for image preview
########################################*/
.modal.and.carousel {
  position: fixed; /* Needed because the carousel overrides the position property */
}

/*full screen display modal ** commented out margin and width which allow full screen, here if needed later */
.modal-dialog {
  /*width: 100%;*/
  height: 100%;
  /*margin: 0;*/
  -webkit-min-logical-width: fit-content !important;
  padding: 0;
}
  
.left.carousel-control,
.right.carousel-control{
  background:none;
  padding-top: 35px;  
  margin: 15px 2.6% 70px 2.3%;
  font-size:32px;
  opacity: 1;
  min-height:max-content;
  color: #93c54b;
  overflow:hidden;
}

.left.carousel-control:hover{
  opacity:1;
  color:white;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.right.carousel-control:hover{
  opacity:1;
  color:white;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none !important;
}

.modal-body > .carousel-inner > .item.active > img{
  border-style: none !important;
}

.modal-body > div > img{
  border-style: none !important;
}

.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #000428;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0);
  bottom:0;
}

/*close "x" button for modal preview displays */
.close {
  margin-top: -2px;
  color:#990000;
  opacity: .7;
}

.close:hover, 
.close:focus {
  color: #990000;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=50);
}

/*#######################################
#  /* SECONDARY PAGE STYLES |  Beneath landing page 
########################################*/
.accordion-panel:not(.accordion-content) {
  display: block;
  text-decoration: none;
  box-shadow: none;
  background-color: #ECE9E6;
  background: -webkit-linear-gradient(bottom, #FFFFFF, #ECE9E6);
  background: -moz-linear-gradient(bottom, #FFFFFF, #ECE9E6);
  background: -o-linear-gradient(bottom, #FFFFFF, #ECE9E6);
  background: linear-gradient(to top, #FFFFFF, #ECE9E6);
    -webkit-transition: background-color 0.8s ease-in-out;  
    -moz-transition: background-color 0.8s ease-in-out;  
    transition: background-color 0.5s ease-in-out;
}

.accordion-heading {
  padding: 0 1rem;
  padding-bottom:.75rem;
}

.accordion-title>a:hover {
  text-decoration: none !important;
}

.accordion-content {
  margin: 0em 3em 3em 3em;
}

#seondary-page-content-wrap{
  margin-bottom: 10em;  
}

/*H1 TAGS used on secondary page titles */
#secondary-page-title{
  font-size: 3em;
  font-weight: 800;
  color:black;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}

#secondary-page-tite-h2{
  padding-top: 1rem;
  padding-bottom: .5rem;
}

#picture-caption {
  padding: 2rem 0 4rem 0;
  width:80%;
  line-height: 1.6;
}

/* add spacing for all h3 image titles besides the first title, as it has spacing from the page title above */
#img-row > h3:not(:nth-child(1)){
  padding-top:4rem;
}

.tab-content > section > .page-header{
    padding-bottom: 10px;
    margin: 30px 20px 35px 0;
}

#view-button{  /* view document button */
  margin: 2rem;
}

.fa-chevron-up {
  color: #93c54b;
}

/* display buttons according to expansion */
.accordion-title[aria-expanded="true"] .fa-chevron-down {
  display:none !important;
}

/* display buttons according to expansion */
.accordion-title[aria-expanded="false"] .fa-chevron-up {
  display:none !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color:#79a736;
  background-color: #ffffff;
  border: 1px solid #dfd7ca;
  border-bottom-color: transparent;
  cursor: default;
}

/** back arrow / back page / btn */
#back{
  display: initial;
  text-decoration:none !important;
  padding-bottom:3rem;
}

#back-text{   /* text after back arrow icon --*/
  word-spacing: .1em;
  font-size: 16px;
}

.fa-arrow-left{   /* back arrow icon*/
  margin-right:1%;
}

@media(min-width: 760px){
  .accordion-panel{
    padding: 0 1rem;
  }
}

@media(max-width: 425px){
  .accordion-content {
    margin: 0em 1rem 1rem 1rem;
  }
}

@media(max-width: 360px){    /*accordion title headers - made small at this point to avoid conflict with arrows and text */
  span > h3{
    font-size:18px;
  }
}