// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body{
	background-color:#eeeeee;
}

h2{
    margin-left:.4em;
}



h3{
    text-indent:.5em;
}

p{
    padding:.5em;
    margin-left:.2em;
}

#aboutMe{
  margin-bottom:5em;
  background-color:white;
  width:100%;
  padding:1em;
}
#aboutMeText{
  width:85%;
  font-size:18px;
  margin-top:8%;
}

#designWork{
  margin-bottom:5em;
}

#homepageCards{
  margin-bottom:5em;
}

#developmentWork{
  margin-bottom:5em;
}

#wireframeWalk{
  width:80%;
}

#wireframePics{
  margin:auto;
  width:50%;
}

#wireText{
  text-align:left;
  margin-top:2em;
}


.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}
        

html, 
body, 
.carousel-inner, 
.carousel-inner .item {
    height: 100%;
}

.carousel {
    height:50%;
    width:75%;
    margin:auto;
}

.item:nth-child(1) {
    background: #74C390;
}

.item:nth-child(2) {
    background: #51BCE8;
}

.item:nth-child(3) {
    background: #E46653;
}



html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
 
/*wrapper for cards*/
.wrapper { 
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px;
}

h1.heading {
  color: #000000;
  font-size: 1.15em;
  font-weight: 900;
  margin-bottom:1em;
  color: #505050;
}

#headshot{
  border-color:#393a35;
  margin-bottom:.25em;
}

.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
  overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

a {
    text-decoration: none!important;
}

.card {
    border-radius: 10px!important;
    border-bottom: 5px solid #eee!important;
}

.accordion-panel {
  text-align: center;
  display: block;
  text-decoration: none;
  -webkit-transition: background-color 0.8s ease-in-out;
  -moz-transition: background-color 0.8s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  border-left: none!important;
  border-right: none!important;
  border-top: none!important;
  box-shadow: none;
  border-radius: 10px;
}
.accordion-title {
  text-transform: uppercase;
  font-weight: 100!important;
  padding: .75em!important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0!important;
}
.accordion-title>a:hover {
  text-decoration: none!important;
}
.accordion-content {
  margin: 0em 3em 3em 3em;
}
.divider {
  height: 3px;
  border-radius: 3px;
  margin: 0em 3em 3em 3em;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;}

}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
  }
}
@media (min-width: 900px) {
  #pageHeader {
  margin-left:10%;
  }
} 

@media (max-width: 767px){
  .carousel{
    margin-left:1000em;
    margin-bottom:-33em;
  }
}

#pageheader{
  margin-top:2em;
}

#back{
  margin-top:-3.5%;
  font-size:18px;
  text-indent:.5%;
  line-height: 2em;
}

.fa-arrow-left{
  margin-right:1%;
}
